[package]
authors = ["Oliver Schneider <priroda-tsm-i-77ksi-11f77i@oli-obk.de>"]
description = "A graphical debugger for Rust MIR."
license = "MIT/Apache-2.0"
name = "priroda"
repository = "https://github.com/oli-obk/priroda"
version = "0.1.0"

[dependencies]
env_logger = "0.3.3"
log = "0.3.6"
log_settings = "0.1.1"
hyper = "0.11.1"
open = "1.1.1"
futures = "0.1.14"
promising-future = "0.2"
horrorshow = "0.6.2"
cgraph = { git = "https://github.com/oli-obk/cgraph.git", rev = "b65e460ee323b31dca55b5541141a6b73272e72a" }
miri = { path = "miri" }
