[package]
authors = ["Oliver Schneider <priroda-tsm-i-77ksi-11f77i@oli-obk.de>"]
description = "A graphical debugger for Rust MIR."
license = "MIT/Apache-2.0"
name = "priroda"
repository = "https://github.com/oli-obk/priroda"
version = "0.1.0"

[dependencies]
env_logger = "0.3.3"
log = "0.3.6"
log_settings = "0.1.1"
open = "1.1.1"
futures = "0.1.14"
promising-future = "0.2"
horrorshow = "0.6.2"
regex = "0.2.5"
syntect = "2.0.0"
lazy_static = "1.0.0"
cgraph = { git = "https://github.com/oli-obk/cgraph.git", rev = "b65e460ee323b31dca55b5541141a6b73272e72a" }
miri = { git = "https://github.com/solson/miri.git" }
rocket = "0.3.8"
rocket_codegen = "0.3.8"
serde = "1.0.66"
serde_derive = "1.0.66"
serde_json = "1.0.20"

# Uncomment to use local checkout of miri
# [patch."https://github.com/solson/miri.git"]
# miri = { path = "../miri" }

[target.heroku]
version = "nightly"

[features]
static_resources = []
