#left, #right {
  display: inline-block;
  width: calc(50vw - 4px);
  height: 100vh;
  margin: 2px;
  vertical-align: top;
  overflow: auto;
}

#mir {
  width: 100%;
  height: calc(100% - 60px);
  border: 2px grey solid;
}

#mir > svg {
  display: block;
  width: 100%;
  height: 100%;
}

#stack {
  border: grey 2px solid;
  overflow: auto;
  margin: 2px 0;
  padding: 2px;
}

#locals {
  border: grey 2px solid;
  overflow: auto;
  margin: 2px 0;
}
